* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #030517;
    overflow-x: hidden;
    overflow-y: scroll;
}

h1 {
    font-family: 'Teko', sans-serif;
}

p {
    color: white;
    font-size: 20px; 
}

.menu-button {
    display: none;
}

.hero {
    width: 100dvw;
    height: 100dvh;
    background-image: url("/unist-fan-page/static/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.responsive {
    width: 100%;
    height: auto;
}

.hero-content > * {
    margin: 0 0 16px;
}

.button-wrapper > * {
    margin: 8px;
}

button {
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    background-color: #DE2854;
    color: #FFFFFF;
    border-radius: 12px;
    border: none;
}

.secondary {
    background-color: rgba(255, 255, 255, .2)
}

nav {
    position:fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.nav-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

.nav-container > ul:not(.sidebar) {
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none; /* Remove bullet points */
    padding-right: 1rem;
  }

.nav-container li{
    padding: 10px;
}

.nav-container a {
    text-decoration: none;
    color:azure;
    height: 100%;
}

.nav-container a:hover {
    text-decoration: underline;
    transform: scale(1.5)
}


.nav-container > ul:not(.sidebar) {
    display: flex;
}

.nav-menu  li:first-child {
    margin-right: auto;
}

.sidebar {
    position: fixed;
    display: none;
    top: 0;
    right: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255,255,255, 0.2);
    backdrop-filter: blur(20px);
    box-shadow: -10px 0 10px rgba(0,0,0,0.1);
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .sidebar li {
    width: 100%;
    padding: 2rem;
  }

  .sidebar a {
    width:100%;
  }


  @media (max-width: 800px) {
    .hideOnMobile {
        display: none;
    }

    .menu-button {
        display: block;
    }

    .button-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
  }