* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    font-family: "Exo", sans-serif;
    font-optical-sizing: auto;
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 10%, rgba(0,212,255,1) 100%);
color: white;
}

p {
    width: 100%;
}

.menuButton {
    display: none;
}

.x-wrap {
    position: relative;
}

.closeButton {
    position: absolute;
    top: 0;
    right: 0;
    z-index:1000;
}

.mobileLogo {
    display: none;
}

.hero {
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100dvw;
}

h1 {
    font-size: 56px;
}

nav {
    padding-left: 1rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    padding-right: 1rem;
    width: 100%;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
    padding-right: 1rem;
}

nav li {
    padding: 0 10px;
}

nav a {
    text-decoration: none;
    height: 100%;
    padding: 0;
    color: white;
    display: flex;
    align-items: center;
}

nav a:hover {
    color:#1A478D;
}

nav li:first-child {
    margin-right: auto;
}

.sidebar {
    position: fixed;
    top: 0%;
    right: 0%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 999;
    display: none;
    background-color: blue;

}

.sidebar li {
    width: 100%;
    padding: 1rem;
    text-align: center;
}

.sidebar a {
    width: 100%;
    display: block;
}

@media (max-width:800px) {
    .hideMobile {
        display: none;
    }

    .menuButton {
        display: block;
    }

}



.nav-primary {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #7397DD;
    stroke: none;
    border: 0;
    border-radius: 12px;
    text-align: center;
}

.primary:hover {
    background-color:#1A478D;
    color:white;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}